.repo-details{
    border-bottom: 1px solid gray;
    padding-top: 4px;
}

.row{
    margin-top: 5px;
}

.form{
    padding-top: 2%;
    max-width: 40%;
    margin: auto;
}
.form>button{
    padding-top: 5px;
    margin: auto;
}

h1{
    margin: auto;
    width: 20%;
    padding: 15px;
}

h5{
    margin: auto;
    width: 40%;
}